.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav--title {
  padding: 1rem;
  font-family: "Chango";
  font-size: 30pt;
  background-color: #79ADDC;
  color: white;
  border-radius: 9px;
}